.card{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    border : 1px solid white;
    border-radius: 10px;
}

.card-front, .card-back{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.title-card{
    font-size: 25px;
    color: white;
    position: absolute;
    margin: 0;
}

.card-front{
    background-color: blue;
}


.card-back{
    background-color: red;
    transform: rotateY(180deg);
}

.flip-exit{
    transform: rotateY(0deg);
}

.flip-exit-active{
    transform: rotateY(180deg);
    transition: transform 300ms;
}

.flip-exit-done{
    transform: rotateY(180deg);
}


.flip-enter{
    transform: rotateY(180deg);
}

.flip-enter-active{
    transform: rotateY(0deg);
    transition: transform 300ms;
}

.flip-enter-done{
    transform: rotateY(0deg);
}

/* .card:hover{
    transform: rotateY(180deg);
} */