.container{

    display: flex;
    flex-direction: column;
    background-color: #282c34;
    color: white;
    margin-top: 2vh;
    height: 80vh;
}

.presentationBox{
    display: flex;
    flex-direction: column;
    border: 2px solid aquamarine;
    border-radius: 10px;
    height: 40%;
    width: 60%;
    margin-left: 10vh;
    margin-top: 10vh;
    font-size: 20px;
    color: white;
}

h1{
    font-size: 50px;
    margin-left: 2vw;
    color: aquamarine;
}

p{
    margin-left: 5vh;
    margin-top: 0;
    color: white;
    font-size: 20px;
    color: aquamarine;
}

