.container{

    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 10px;
    position: relative;
}

.presentationBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    font-size: 20px;
    color: white;
}

.photoBox{
    width: 30%;
}

h1{
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    margin-left: 5vw;
    color: aquamarine;
}

p{
    margin-left: 5vh;
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: aquamarine;  
}

span{
    color: aquamarine;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}

img{
    width: 450;
    height: 450px;
    position: absolute;
    left: 55%;
    margin-top: 1%;
}
