nav {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;  
  height: 3vh;
  align-items: center;
  background-color: #1b2433;
  
  }
  
  ul {
    margin: 0;
    list-style: none;
    display: flex;

    }
  
  .content {
    margin-left: 2%;
    padding: 0;
  }

  .download {
    margin-left: 70%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }